body {
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Manrope', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

.MuiPaper-root {
  border-radius: 28px !important;
  border: 2px solid #000aff;
  box-shadow: none !important;
}

.MuiButtonBase-root {
  background: transparent !important;
}

.MuiSelect-icon {
  display: none !important;
}
